@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Questrial&display=swap');

/* 
  font-family: "Oswald", sans-serif;
  font-family: "Questrial", sans-serif;
} */

#root {
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
  --color-neutral-white: #fefdfb;
  --color-neutral-black: #1f1f1f;
  --color-fluor-yellow: #fbfd57;
  --color-fluor-pink: #ea3f70;
  --color-fluor-blue: #27cbb8;
  --color-fluor-green: #80e65e;
  --color-fluor-purple: #8427ec;
  --color-fluor-orange: #fe6316;

  --font-text: 'Questrial', sans-serif;
  --font-heading: 'Oswald', sans-serif;
}
body,
html {
  margin: 0;
  padding: 0;
  
}

/* Aplicar un contenedor que centra y limita el ancho del contenido */



.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}


/* Navbar------------------------------------------------------------------------*/

.wrapper-nav {
  min-width: 50%;
  max-width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  box-sizing: border-box; /* Asegura que el padding y border no afecten el ancho */
} 
.container-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* La barra de navegación ocupa todo el ancho */
  background-color: rgba(0, 0, 0, 0.8);
  padding: 16px 0; 
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
  z-index: 1000; 
  min-height: 80px;
  justify-content: space-between; /* Distribuye los elementos uniformemente */
  overflow-x: hidden; /* Evita desbordamientos horizontales */
}

.container-nav a {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  color: var(--color-neutral-white);
  text-decoration: none;
}
.container-categories-nav {
  display: flex;
  gap: 48px;
}
.container-categories-nav a::after {
  content: '';
  display: block;
  height: 3px;
  background-color: var(--color-fluor-pink);
  transform: scale(0, 1);
  transform-origin: center;
  transition: transform 0.25s;
}

.container-categories-nav a:hover::after {
  transform: scale(1, 1);
}
.logo-container a {
  margin: 0;
}

.logo-container img{
  width: 96px;
}

/*SearchBar------------------------------------------------------------------*/

.search-bar-container {
  position: absolute;
  top: 40%; /* Ajuste para mover la barra más arriba */
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 128px; /* Mantén el padding general */
  background: radial-gradient(circle, var(--color-neutral-black) 20%, transparent 90%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 90%; /* Ancho basado en porcentaje para adaptarse mejor */
  max-width: 380px; /* Limita el ancho máximo */
  gap: 16px;
}

.search-label {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  color: var(--color-neutral-white);
  margin-bottom: 10px;
}

.search-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%; /* Asegura que el input ocupe todo el contenedor */
}

.search-input {
  background: var(--color-neutral-white);
  border: none;
  outline: none;
  color: var(--color-neutral-black);
  font-size: 16px;
  padding: 15px 50px 15px 30px;
  width: 100%; /* Ancho del 100% del contenedor padre */
  font-family: 'Questrial', sans-serif;
}

.search-button {
  position: absolute;
  right: 15px; /* Más separación a la derecha para el botón */
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.search-button img {
  width: 24px;
  height: 24px;
}

.search-input::placeholder {
  color: rgba(31, 31, 31, 0.7);
}













.home {
  background-color: var(--color-neutral-black);
}
.hero {
  background-image: linear-gradient(to bottom, rgba(31, 31, 31, 0) 70%, #1f1f1f 100%), url('./assets/hero.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 100%;
  height: 1500px;
}
.menu, .container-menu {
  display: none;
}
.box-carousel {
  width: 90%;
  height: 800px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.image-carousel {
  width: 100%;
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.4s ease-in-out;
}
.container-carousel {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 100%;
  display: block;
}

.info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container:hover .info {
  transform: translateY(0);
}

@media (max-width: 480px) {
  .container-nav {
    padding: 10px;
    justify-content: space-between;
  }
  
  /* Ocultar las categorías del navbar en móvil */
  .container-categories-nav {
    display: none;
  }

  /* Ocultar el logo en móvil */
  .logo-container {
    display: none;
  }


  .container-nav {
    height: 64px;
    display: flex; 
    align-items: center; 
  }
  
  .wrapper-nav{
    display: flex; 
    justify-content: flex-start;
    margin-left: 16px; 
  }
  
  .container-menu {
    display: flex; 
    align-items: center; 
  }
  
  .menu {
    display: block;
    width: 24px; 
  }
  
  



  /* Estilos adicionales para la barra de búsqueda en móvil */
  .search-bar-container {
    width: 90%; 
    max-width: 350px; 
    padding: 64px; 
  }

  .search-input {
    width: 85%;
    font-size: 14px; 
    padding: 10px 40px 10px 20px; 
  }

  .search-button img {
    width: 24px;
    height: 24px; 
  }
}
