@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Questrial&display=swap');

/* 
  font-family: "Oswald", sans-serif;
  font-family: "Questrial", sans-serif;
} */

#root {
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
  --color-neutral-white: #fefdfb;
  --color-neutral-black: #1f1f1f;
  --color-neutral-black-details: #3c3939;
  --color-fluor-yellow: #fbfd57;
  --color-fluor-pink: #ea3f70;
  --color-fluor-blue: #27cbb8;
  --color-fluor-green: #80e65e;
  --color-fluor-purple: #8427ec;
  --color-fluor-orange: #fe6316;

  --font-text: 'Questrial', sans-serif;
  --font-heading: 'Oswald', sans-serif;
}

.culture-style-background {
  background-color: var(--color-fluor-pink);
}
.culture-style-border {
  border: 2px solid var(--color-fluor-pink);
}
.culture-style-text {
  color: var(--color-fluor-pink);
}

.science-style-background {
  background-color: var(--color-fluor-orange);
}
.science-style-border {
  border: 2px solid var(--color-fluor-orange);
}
.science-style-text {
  color: var(--color-fluor-orange);
}

.lifestyle-style-background {
  background-color: var(--color-fluor-purple);
}
.lifestyle-style-border {
  border: 2px solid var(--color-fluor-purple);
}
.lifestyle-style-text {
  color: var(--color-fluor-purple);
}

.travel-style-background {
  background-color: var(--color-fluor-yellow);
}
.travel-style-border {
  border: 2px solid var(--color-fluor-yellow);
}
.travel-style-text {
  color: var(--color-fluor-yellow);
}

.civics-style-background {
  background-color: var(--color-fluor-blue);
}
.civics-style-border {
  border: 2px solid var(--color-fluor-blue);
}
.civics-style-text {
  color: var(--color-fluor-blue);
}

.sustainability-style-background {
  background-color: var(--color-fluor-green);
}
.sustainability-style-border {
  border: 2px solid var(--color-fluor-green);
}
.sustainability-style-text {
  color: var(--color-fluor-green);
}

body,
html {
  margin: 0;
  padding: 0;
}

/* Aplicar un contenedor que centra y limita el ancho del contenido */

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Navbar------------------------------------------------------------------------*/

.wrapper-nav {
  min-width: 50%;
  max-width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box; /* Asegura que el padding y border no afecten el ancho */
}
.container-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* La barra de navegación ocupa todo el ancho */
  background-color: rgba(0, 0, 0, 0.8);
  padding: 16px 0;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
  z-index: 1000;
  min-height: 80px;
  justify-content: space-between; /* Distribuye los elementos uniformemente */
  overflow-x: hidden; /* Evita desbordamientos horizontales */
}

.container-nav a {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  color: var(--color-neutral-white);
  text-decoration: none;
}
.container-categories-nav {
  display: flex;
  gap: 48px;
}
.container-categories-nav a::after {
  content: '';
  display: block;
  height: 3px;
  background-color: var(--custom-color);
  transform: scale(0, 1);
  transform-origin: center;
  transition: transform 0.25s;
}

.container-categories-nav a:hover::after {
  transform: scale(1, 1);
}
.logo-container a {
  margin: 0;
}

.logo-container img {
  width: 96px;
}

.menu,
.container-menu {
  display: none;
}

/*SearchBar------------------------------------------------------------------*/

.search-bar-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12%;

  background: radial-gradient(
    circle,
    var(--color-neutral-black) 10%,
    transparent 70%
  );

  width: 90%;
  max-width: 500px;
  min-width: 200px;
  gap: 16px;
}

.search-label {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: var(--color-neutral-white);
  margin-bottom: 10px;
}

.search-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.search-input {
  background: var(--color-neutral-white);
  border: none;
  outline: none;
  color: var(--color-neutral-black);
  font-size: 16px;
  padding: 20px 50px 20px 30px;
  width: 100%;
  font-family: 'Questrial', sans-serif;
}

.search-button {
  position: absolute;
  right: 15px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.search-button img {
  width: 24px;
  height: 24px;
}

.search-input::placeholder {
  color: rgba(31, 31, 31, 0.7);
}

.title {
  font-size: 7vw;
  font-family: var(--font-heading);
  color: var(--color-neutral-white);
  text-align: left;
  line-height: 7vw;
  margin: -7% 20% 0 20%;
  margin-bottom: 64px;
}

.home {
  background-color: var(--color-neutral-black);
  padding-bottom: 64px;
}
.hero {
  background-image: linear-gradient(
      to bottom,
      rgba(31, 31, 31, 0) 70%,
      #1f1f1f 100%
    ),
    url('./assets/hero.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 100%;
  height: 1080px;
}

.box-carousel {
  width: 60%;
  height: auto; /* Esto asegura que el contenedor cambie de altura basado en el contenido */
  aspect-ratio: 16 / 9; /* Define una relación de aspecto 16:9 para el contenedor */
  overflow: hidden;
  position: relative;
  border: 5px solid var(--custom-color);
}

.image-carousel {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantiene la proporción de la imagen y la recorta si es necesario */
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.4s ease-in-out;
}

.container-carousel {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  position: relative; /* Necesario para que el tag esté en relación a esta caja */
  width: 100%;
  height: 100%;
}

.image-carousel {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantiene la proporción de la imagen */
}

.image-tag {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--custom-color);
  color: var(--color-neutral-black);
  font-family: 'Oswald', sans-serif;
  padding: 5px 10px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  z-index: 1; /* Asegura que esté encima de la imagen */
  margin: 16px;
}

/*- Section headers -------------------------------------------------------*/

.section-header {
  width: 60%;
  font-family: var(--font-heading);
  display: flex;
  align-items: center;
  margin: 64px auto;
}

.section-header h2 {
  color: var(--color-neutral-white);
  margin: 0;
  white-space: nowrap;
}

.section-header hr {
  flex-grow: 1;
  border: none;
  border-top: 0.5px solid var(--color-neutral-black-details);
  margin-left: 16px; /* Espacio entre el h2 y la línea */
}

/* Card M ----------------------------------------------------------------------*/
.cardM-section {
  position: relative;
  width: 60%;
  display: flex;
  margin: 0 auto;
  gap: 32px;
  flex-wrap: wrap;
}

.cardM-container {
  position: relative;
  width: 48%;
  overflow: hidden;
}

.cardM-image img {
  width: 100%;
  height: 100%;
  display: block;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

/* Rectángulo de categoría en la parte inferior */
.cardM-category {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: var(--custom-color);
  font-family: 'Oswald', sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
}
.cardM-category p {
  text-transform: uppercase;
  z-index: 2;
  font-size: 16px;
  color: var(--color-neutral-black);
  justify-content: flex-start;
  padding-left: 16px;
  font-weight: 500;
}

.cardM-info {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  color: var(--color-neutral-black);
  transform: translateY(90%);
  transition: transform 0.5s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.cardM-info h3 {
  font-family: var(--font-heading);
}

.cardM-info p {
  font-family: var(--font-text);
}

.cardM-container:hover .cardM-info {
  transform: translateY(0);
}


/*Card S -------------------------------------------------------------------------*/

.cardS-section{
  position: relative;
  width: 60%;
  display: flex;
  margin: 0 auto;
  gap: 32px;
  flex-wrap: wrap;
}


.cardS-container{
  position: relative;
  width: 30%;
  overflow: hidden;
}






.box-labelcategory {
  position: relative;
  width:100%;
  height: 50%;
}

.labelcategory {
  position: absolute;
  top: 0;
  right: 0px;
  width: 300px;
  height: 50px;
  background-color: var(--custom-color);
  color: var(--color-neutral-black);
  transform: translateX(80%);
  transition: transform 0.5s ease-in-out;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 64px;
  font-family: var(--font-heading);
}

.labelcategory img {
  width: 24px;
}

.box-labelcategory:hover .labelcategory {
  transform: translateX(0);
}
.details-title {
  background-image: url('./assets/basciHero.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: 1000px;
}
.details-title img {
  width: 1400px;
  height: 707px;
  border: solid 2px var(--custom-color);
  margin-top: 40px;
}
.details-title h1 {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 20px;
  font-size: 50px;
  font-weight: bold;
  color: var(--color-neutral-white);
}
.container-content {
  display: flex;
  justify-content: center;
}
.box-content {
  text-align: left;
  font-family: 'Questrial', sans-serif;
  padding: 40px 60px;
  color: var(--color-neutral-white);
}
.author-date {
  font-family: 'Questrial', sans-serif;
  color: var(--color-neutral-white);
  padding: 0px 60px 100px;
  display: flex;
  justify-content: space-between;
}
.author-date button {
  all: unset;
}

/* Mobile -------------------------------------------------------------------*/
@media (max-width: 480px) {
  /* NavBar Mobile ------------------------------------------------------*/

  .container-nav {
    padding: 10px;
    justify-content: space-between;
    height: 64px;
    display: flex;
    align-items: center;
  }

  /* Ocultar las categorías del navbar en móvil */
  .container-categories-nav {
    display: none;
  }

  /* Ocultar el logo en móvil */
  .logo-container {
    display: none;
  }

  .wrapper-nav {
    display: flex;
    justify-content: flex-start;
    margin-left: 16px;
  }

  .container-menu {
    display: flex;
    align-items: center;
  }

  .menu {
    display: block;
    width: 24px;
  }

  /* SearchBar Mobile --------------------------------------*/

  .search-bar-container {
    width: 90%;
    padding: 8px;
  }

  .search-input {
    padding: 10px 40px;
  }

  .search-button {
    right: 10px;
  }

  .search-button img {
    width: 20px;
    height: 20px;
  }

  .box-carousel {
    width: 90%;
  }
}
