@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Questrial&display=swap');

/* 
  font-family: "Oswald", sans-serif;
  font-family: "Questrial", sans-serif;
} */

#root {
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
  --color-neutral-white: #fefdfb;
  --color-neutral-white-details: #9e9d9d;
  --color-neutral-black: #1f1f1f;
  --color-neutral-black-details: #3c3939;
  --color-neutral-grey: #7D7D7D;
  --color-fluor-yellow: #fbfd57;
  --color-fluor-pink: #ea3f70;
  --color-fluor-blue: #27cbb8;
  --color-fluor-green: #80e65e;
  --color-fluor-purple: #8427ec;
  --color-fluor-orange: #fe6316;

  --font-text: 'Questrial', sans-serif;
  --font-heading: 'Oswald', sans-serif;
}

.culture-style-background {
  background-color: var(--color-fluor-pink);
}
.culture-style-border {
  border: 2px solid var(--color-fluor-pink);
}
.culture-style-text {
  color: var(--color-fluor-pink);
}

.science-style-background {
  background-color: var(--color-fluor-orange);
}
.science-style-border {
  border: 2px solid var(--color-fluor-orange);
}
.science-style-text {
  color: var(--color-fluor-orange);
}

.lifestyle-style-background {
  background-color: var(--color-fluor-purple);
}
.lifestyle-style-border {
  border: 2px solid var(--color-fluor-purple);
}
.lifestyle-style-text {
  color: var(--color-fluor-purple);
}

.travel-style-background {
  background-color: var(--color-fluor-yellow);
}
.travel-style-border {
  border: 2px solid var(--color-fluor-yellow);
}
.travel-style-text {
  color: var(--color-fluor-yellow);
}

.civics-style-background {
  background-color: var(--color-fluor-blue);
}
.civics-style-border {
  border: 2px solid var(--color-fluor-blue);
}
.civics-style-text {
  color: var(--color-fluor-blue);
}

.sustainability-style-background {
  background-color: var(--color-fluor-green);
}
.sustainability-style-border {
  border: 2px solid var(--color-fluor-green);
}
.sustainability-style-text {
  color: var(--color-fluor-green);
}

body,
html {
  margin: 0;
  padding: 0;
}

/* Aplicar un contenedor que centra y limita el ancho del contenido */

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Navbar------------------------------------------------------------------------*/

.wrapper-nav {
  min-width: 50%;
  max-width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box; 
}
.container-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  background-color: rgba(0, 0, 0, 0.8);
  padding: 16px 0;
  box-sizing: border-box;
  z-index: 1000;
  min-height: 64px;
  justify-content: space-between; 
  overflow-x: hidden; 
}

.container-nav a {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  color: var(--color-neutral-white);
  text-decoration: none;
}


.container-categories-nav {
  display: flex;
  gap: 48px;
}
.container-categories-nav a::after {
  content: '';
  display: block;
  height: 3px;
  background-color: var(--custom-color);
  transform: scale(0, 1);
  transform-origin: center;
  transition: transform 0.25s;
}

.container-categories-nav a:hover::after {
  transform: scale(1, 1);
}

.logo-container{
  display: flex;
  align-items: center;
}
.logo-container a {
  margin: 0;
}

.logo-container img {
  width: 96px;
}

.menu,
.container-menu {
  display: none;
}

.button-new-pulse{
  padding: 8px 24px;
  background-color: var(--color-neutral-white);
  border: none;
  font-family: var(--font-heading);
  color: var(--color-neutral-black);
  font-weight: 500;
}

.button-new-pulse:hover{
background-color: #8427ec;
color: var(--color-neutral-white);
 cursor: pointer;
transition: 0.2s;
}

/*SearchBar------------------------------------------------------------------*/

.search-bar-container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12%;

  background: radial-gradient(
    circle,
    var(--color-neutral-black) 10%,
    transparent 70%
  );

  width: 90%;
  max-width: 500px;
  min-width: 200px;
  gap: 16px;
}

.search-label {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: var(--color-neutral-white);
  margin-bottom: 10px;
}

.search-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.search-input {
  background: var(--color-neutral-white);
  border: none;
  outline: none;
  color: var(--color-neutral-black);
  font-size: 16px;
  padding: 20px 50px 20px 30px;
  width: 100%;
  font-family: 'Questrial', sans-serif;
}

.search-button {
  position: absolute;
  right: 15px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.search-button img {
  width: 24px;
  height: 24px;
}

.search-input::placeholder {
  color: rgba(31, 31, 31, 0.7);
}

.title {
  font-size: 7vw;
  font-family: var(--font-heading);
  color: var(--color-neutral-white);
  text-align: left;
  line-height: 7vw;
  margin: -10% 0% 8% 0%;

}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 80%;
  z-index: 3;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-neutral-black);
}
.hero {
  background-image: linear-gradient(
      to bottom,
      rgba(31, 31, 31, 0) 70%,
      #1f1f1f 100%
    ),
    url('./assets/hero.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 100%;
  height: 720px;
}

.container-carousel {
  margin: 0 auto; /* Asegura que esté centrado horizontalmente */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Oculta las imágenes que no están en el viewport */
  width: 100%; /* Asegúrate de que el ancho sea el adecuado */
  max-width: 80%; /* Limita el ancho máximo para mantener el carrusel centrado */
  position: relative;
  border: 2px solid var(--custom-color); /* El borde será dinámico */
}

.box-carousel {
  display: flex; /* Alinea las imágenes en fila horizontal */
  height: auto; /* Ajusta la altura según el contenido */
  width: 100%; /* El ancho es 100% para que se ajuste al contenedor */
  aspect-ratio: 16 / 9; /* Mantiene una relación de aspecto 16:9 */
}

.image-container {
  flex-shrink: 0; /* Evita que las imágenes se reduzcan */
  width: 100%; /* Cada imagen ocupa el 100% del espacio visible */
  height: 100%; /* Mantiene la altura del contenedor */
  position: relative; /* Para posicionar el tag sobre la imagen */
}

.image-carousel {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.carousel-overlay {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%; 
  text-align: center;
  color: var(--color-neutral-black);
  background: rgba(255, 255, 255, 0.836); 
  padding: 10px;
  border-radius: 5px;
 
}
.carousel-title {
  font-size: 2vw; 
  font-family: var(--font-heading); 
  text-align: left;
  margin-left: 32px;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  color: var(--color-neutral-black-details);
}

.image-tag {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--custom-color); 
  color: var(--color-neutral-black);
  font-family: 'Oswald', sans-serif;
  padding: 5px 10px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  z-index: 1; 
  margin: 16px;
}
/*- Section headers -------------------------------------------------------*/

.section-header {
  width: 80%;
  font-family: var(--font-heading);
  display: flex;
  align-items: center;
  margin: 128px auto 64px auto;
  z-index: 3;
}

.section-header h2 {
  color: var(--color-neutral-white);
  margin: 0;
  white-space: nowrap;
}

.section-header hr {
  flex-grow: 1;
  border: none;
  border-top: 0.5px solid var(--color-neutral-black-details);
  margin-left: 16px; /* Espacio entre el h2 y la línea */
}

/* Card L -------------------------------------------------*/
.cardL-section {
  width: 80%;
position: relative;
z-index: 3;
}

.cardL-image {
  width: 100%;
  min-width: none;
  max-height: 700px;
  object-fit: cover; 
  border: 2px solid var(--custom-color);
}

.cardL-overlay {
  width: 100%;
  
}
.cardL-title {
  position: absolute;
  bottom: 5px;
  left: 2px;
  width: 100%;
  height: 96px;
  text-align: left;
  color: var(--color-neutral-black);
  background: rgba(255, 255, 255, 0.8); /* Fondo translúcido */
  font-family: var(--font-heading);
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  display: flex;
  align-items: center;
  padding-left: 24px;
  box-sizing: border-box;
}








/* Card M ----------------------------------------------------------------------*/
.titlecardM{
  margin-top: -16px;
  color: var(--color-neutral-white);
  text-align: left;
  font-family: var(--font-heading);
  font-weight: 300;
}

.cardM-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1400px;
  margin-bottom: 128px;
}

.cardM-container {
  position: relative;
  width: calc(50% - 16px);
  width: 550px;
  overflow: hidden;
  margin-bottom: 32px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.cardM-image img {
  width: 100%;
  height: 100%;
  display: block;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

/* Rectángulo de categoría en la parte inferior */
.cardM-category {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: var(--custom-color);
  font-family: 'Oswald', sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
  font-family: var(--font-heading);
  
}

.cardM-category p {
  text-transform: uppercase;
  z-index: 2;
  font-size: 16px;
  color: var(--color-neutral-black);
  justify-content: flex-start;
  padding-left: 24px;
  font-weight: 500;
  font-family: var(--font-heading);
}

.cardM-info {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  color: var(--color-neutral-black);
  transform: translateY(93%);
  transition: transform 0.5s ease-in-out;
  padding: 40px 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  
}
.cardM-hover-data {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-heading);
  color: var(--color-neutral-black-details);
  font-weight: 500;
  opacity: 0.9;
}

.author {
  display: flex;
  gap: 8px;
  align-items: center;
}

.author img {
  height: 24px;
  width: 24px;
}

.titlecardM {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  font-size: 20px;
  width: 100%;
}

.link-cardM:hover .titlecardM {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.link-cardM {
  text-decoration: none;
}

.cardM-info h3 {
  font-family: var(--font-heading);
}

.cardM-hr {
  border: none;
  border-top: 1px solid var(--color-neutral-white-details);
  margin: 8px 16px;
  opacity: 0.5;
  display: block;
  width: 100%;
}

.cardM-container:hover .cardM-info {
  transform: translateY(50%);
}

/*Card S -------------------------------------------------------------------------*/

/* Contenedor de la sección que agrupa las tarjetas CardS */
.cardS-section {
  position: relative;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
}
.link-cards {
  text-decoration: none;
}

.cardS-container {
  position: relative;
  width: 100%;
  max-width: 300px;
  min-width: 256px;
  overflow: hidden;
  background-color: var(--color-neutral-white);
  transition: none;
  cursor: pointer;
  text-decoration: none;
  color: var(--color-neutral-black);
  text-decoration: none;
  
  height: 600px;
}

/* Imagen dentro de la tarjeta */
.cardS-image img {
  width: 100%;
  height: 260px;
  object-fit: cover; /* Mantiene las proporciones de la imagen */
}

/* Categoría en la parte superior de la tarjeta */
.cardS-category {
  background-color: var(--custom-color);
  color: var(--color-neutral-black);
  font-family: var(--font-heading);
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 24px; /* Espaciado a la izquierda del texto */
  margin-top: -4px;
}
.cardS-header {
  padding: 0 24px;
  text-align: left;
  margin: 0;
}
/* Título y contenido dentro de la tarjeta */
.cardS-header h3 {
  font-family: var(--font-heading);
  font-size: 20px;
  color: var(--color-neutral-black);
  padding-bottom: 8px;
}

.cardS-header p {
  font-family: var(--font-text);
  font-size: 14px;
  color: var(--color-neutral-black);
  margin: 24px 0;
  height: 96px;
}

/* Línea divisoria (hr) dentro de la tarjeta */
.cardS-container hr {
  border: none;
  border-top: 1px solid var(--color-neutral-white-details);
  margin: 8px 24px;
  opacity: 0.5;
}

/* Información del autor y fecha */
.cardS-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  font-size: 14px;
  color: var(--color-neutral-black-details);
  opacity: 0.9;
  font-family: var(--font-heading);
}

.cardS-data .author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

.cardS-data p {
  margin: 0;
}

.box-labelcategory {
  position: relative;
  width: 100%;
  height: 50%;
}


.labelcategory {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 50px;
  background-color: var(--custom-color);
  color: var(--color-neutral-black);
  transform: translateX(80%);
  transition: transform 0.5s ease-in-out;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  font-family: var(--font-heading);
  z-index: 3;
}

.labelcategory img {
  width: 24px;
}

.box-labelcategory:hover .labelcategory {
  transform: translateX(0);
}



/*Card xs----------------------------------*/
.cardXs-container {
  display: flex;
 flex-direction: column;
gap: 16px;
}

.cardXs-h4{
  background-color: var(--color-neutral-white);
  font-family: var(--font-heading);
  color: var(--color-neutral-black);
  font-size: 18px;
  padding: 4px 0;
}

.cardXs{
  display: flex;
  gap: 16PX;
}

.cardXs img{
  width: 96px;
  height: 96px;
  object-fit: cover;
}

.cardXs-content{
  display: flex;
  flex-direction: column;
  line-height: 1;
  font-size: 16px;
  color: var(--color-neutral-white);
  align-items: flex-start;
}


.cardXs-content P{
  text-align: left;
}

.cardXs-content a{
  text-decoration: none;
  font-family: var(--font-heading);
  color: var(--color-neutral-white);
  
}

.details-title {
  background-image: url('./assets/basciHero.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: 1000px;
  position: relative; /* Asegura que el overlay se posicione correctamente */
}

.title-left {
  margin: 0; /* Eliminar margen para evitar desplazamiento */
  padding: 20px; /* Espacio interno */
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: var(--color-neutral-white);
  text-align: left; /* Alinear el texto a la izquierda */
  width: 80%; /* Asegura que ocupe todo el ancho */
}

.details-title::before {
  content: "";
  position: absolute; /* Para que se posicione encima de la imagen */
  top: 0; /* Empieza desde la parte superior */
  left: 0; /* Alineado a la izquierda */
  right: 0; /* Alineado a la derecha */
  bottom: 0; /* Ocupa todo el contenedor */
  background: linear-gradient(to bottom, rgba(31, 31, 31, 0) 0%, #1f1f1f 100%); /* Gradiente de transparente a #1f1f1f */
  z-index: 1; /* Asegúrate de que esté por encima de la imagen pero debajo del contenido */
}

.details-title img {
  aspect-ratio: 16/9;
  width: 100%;
  height: 707px;
  border: solid 2px var(--custom-color);
  margin-top: 40px;
  z-index: 2; /* Cambiado a 2 para que esté por encima del overlay */
}

.details-title h1 {
  font-family: var(--font-heading);
  margin: 0;
  padding: 20px;
  font-size: 64px;
  font-weight: bold;
  color: var(--color-neutral-white);
  z-index: 3; /* Asegúrate de que el texto esté por encima del overlay */
  text-align: left;

}
.container-content {
  font-size: 20px;
  line-height: 1.5;
  display: flex;
  justify-content: space-between; /* Cambia a space-between para espacio entre secciones */
  width: 80%;
  margin: 32px 10%;
  gap: 64px;

}

.box-content {
  text-align: left;
  font-family: var(--font-text);
  color: var(--color-neutral-white);
  width: 70%; /* Asigna 70% de ancho */
}

.right-section {
  width: 30%; /* Asigna 30% de ancho */
  display: flex;
  flex-direction: column; /* Asegura que las tarjetas estén en una columna */
  gap: 20px; /* Añade un gap entre las tarjetas */
  flex-grow: 1; 
}

.cardXs-container {
  background-color: var(--color-neutral-black); /* Añade un fondo si es necesario */
  padding: 10px; /* Espaciado alrededor de las tarjetas */
}
.number-comments {
  text-align: left;
  color: var(--color-neutral-white);
  font-family: var(--font-heading);
  margin: 0;
}
/* .comment-container {
  width: 1000px;
  padding: 0px 60px;
} */
.author-comment {
  gap: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--color-neutral-white);
}
.likes-comment {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
.comment-box {
  color: var(--color-neutral-white);
  text-align: left;
}


.bottom-section-article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 48px 0 32px 0;
}

.content-comments-hr{
  flex-grow: 1;
  border: none;
  border-top: 0.5px solid var(--color-neutral-black-details);
}

.author-date-article {
  
  font-family: 'Questrial', sans-serif;
  color: var(--color-neutral-white);
  display: flex;
  justify-content: space-between;
}

.actions-article {
  display: flex;
  gap: 16px;
}


.actions-article{
  display: flex;
  gap: 32px;
}

.data-author-article{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 16px;
  font-family: var(--font-heading);
  font-size: 18px;
}

.actions-article button{
  display: flex;
  width: 100%;
  border: 0;
  background-color: transparent;
  gap: 8px;
  align-items: center;
  color: var(--color-neutral-grey);
  font-family: var(--font-heading);
  font-size: 18px;
}

.actions-article-button img{
 height: 16px;
}


.data-author-article img {
  width: 32px;
}

.author-article {
  display: flex;
  align-items: center;
  gap: 8px;

}

.date-article {
  color: var(--color-neutral-grey);
}



.all-form-comment {
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 16px; /* Añadir espacio entre avatar y formulario */
  margin: 48px 0 64px 0
}

.comment-avatar {
  flex-shrink: 0; /* Evita que el avatar se reduzca de tamaño */
}

.comment-avatar img {
  width: 32px; /* Tamaño del avatar */
  height: 32px;
  border-radius: 50%; /* Hace que el avatar sea circular */
}

.form-comment-container {
  display: flex;
  flex-direction: column;
  width: 100%; /* Ocupa todo el ancho restante */
}

.textarea-comment {
  height: 96px;
  background-color: var(--color-neutral-black-details);
  margin-bottom: 8px; /* Espacio entre textarea y input */
  padding-left: 24px;
  padding-top:16px;
  color: var(--color-neutral-white);
  font-family: var(--font-text);
  font-size: 16px;
}

.input-submit-container {
  display: flex;
  width: 100%;
  gap: 8px; /* Espacio entre el input y el botón */
}

.input-comment {
  width: 80%;
  height: 40px;
  background-color: var(--color-neutral-black-details);
  padding-left: 24px;

  color: var(--color-neutral-white);
  font-family: var(--font-text);
  font-size: 16px;
}

.submit-comment {
  width: 20%;
  color: var(--color-neutral-black);
  background-color: var(--color-neutral-white);
  height: 46px;
  border: 0;
  padding: 0;
  font-family: var(--font-heading);
  text-transform: uppercase;
  font-weight: 500px;
}

.submit-comment:hover {
  color: var(--color-neutral-white);
}

.bottom-form-comment {
  display: flex;
  width: 100%;
  gap: 8px;
  justify-content: space-between;
}


.comment-container{
  margin-top: 16px;

}

.complete-comment{
  
}

.block-author-comment{
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-family: var(--font-heading);
  font-size: 16px;
  padding-top: 16px;
}

.img-author-comment{
display: flex;
align-items: center;
gap: 16px;
}

.img-author-comment img{
  width: 32px;
}

.comment-content {
  margin-top: 0px;
  margin-bottom: 32px;
}

.date-comment{

}








@media (max-width: 768px) {
  .cardM-container {
    width: calc(
      100% - 32px
    ); /* Se coloca una carta por fila en pantallas pequeñas */
  }
}

/* Footer*/

.footer-section {
  position: relative; /* Necesario para que el ::before y el contenido se posicionen correctamente */
  background-image: url('./assets/images/footer-background.png'); /* Capa 1 */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: auto;
  min-height: 300px; /* Ajusta según tus necesidades */
  display: flex;
  align-items: flex-end;
  padding-bottom: 64px;
  z-index: 0; /* Fondo base */
}

.footer-section::before {
  content: '';
  position: absolute; /* Se coloca encima del fondo, pero detrás del contenido */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(31, 31, 31, 1) 0%, rgba(31, 31, 31, 0) 50%); /* Capa 2 - Overlay */
  z-index: 1; /* Se posiciona sobre el fondo, pero debajo del contenido */
  pointer-events: none; /* El pseudo-elemento no interferirá con la interacción del usuario */
}

.footer-content {
  position: relative; /* Asegura que el contenido esté encima del overlay */
  z-index: 2; /* Capa 3 - El contenido como texto, iconos, etc. está por encima del overlay */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.logo-footer {
  animation: changeColorFilter 4s infinite;
  width: 96px;
}

@keyframes changeColorFilter {
  0% {
    filter: hue-rotate(0deg); /* Original color */
  }
  20% {
    filter: hue-rotate(180deg); /* Different color */
  }
  40% {
    filter: hue-rotate(360deg); /* Back to original color */
  }
  60% {
    filter: hue-rotate(360deg); /* Back to original color */
  }
  80% {
    filter: hue-rotate(360deg); /* Back to original color */
  }
  100% {
    filter: hue-rotate(360deg); /* Back to original color */
  }
}

.footer-copy {
  display: flex;
  color: var(--color-neutral-white);
  font-size: 16px;
  gap:8px;
}

.footer-copy a {
  text-decoration: none;
  color: var(--color-neutral-white);
}

.footer-copy a:hover {
  text-decoration: none;
  color: var(--color-fluor-pink);
  transition: 0.5s;
}

.footer-copy img {
  width: 14px;
}

.social-media-links {
  display: flex;
  gap: 16px;
}

.social-media-links a {
  display: inline-block;
  transition: transform 0.3s ease-in-out; /* Transición suave */
}

.social-media-links a:hover {
  transform: translateY(-5px); /* Mover hacia arriba 5px */
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-neutral-black);
  height: 100vh;
  margin: 0;
}

.logo-loading {
  width: 500px;
  height: auto;
  animation: 1.5s ease 0s infinite beat;
}
@keyframes beat {
  0%,
  50%,
  100% {
    transform: scale(1, 1);
  }
  30%,
  80% {
    transform: scale(0.92, 0.95);
  }
}
.dots {
  position: relative;
  display: flex;
  margin-top: 10px;
}

.dot {
  position: absolute;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  background-color: var(--color-neutral-white);
  animation: dot-blink 1.5s ease infinite;
}

@keyframes dot-blink {
  0%,
  100% {
    opacity: 0;
  }
  20%,
  80% {
    opacity: 1;
  }
}
.dot:nth-child(1) {
  top: 40px;
  right: 150px;
  animation-delay: 0.5s;
}

.dot:nth-child(2) {
  top: 40px;
  right: 80px;
  animation-delay: 1s;
}

.dot:nth-child(3) {
  top: 40px;
  right: 10px;
  animation-delay: 1.5s;
}
.social-media-links img {
  
  height: 16px;
}


/*Category */
.hero-category{
  position: inherit;
  background-image: linear-gradient(
    to bottom,
    rgba(31, 31, 31, 0) 70%,
    #1f1f1f 100%
  ),
  url('./assets/images/catBackground.png');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
min-width: 100%;
height: 720px;


}

.hero-category::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45%; /* Overlay más corto, cubre la mitad del contenedor */
  background-color: rgba(31, 31, 31, 0.5); /* Color #1f1f1f con 50% de opacidad */
  z-index: 2; /* Asegura que esté por encima de la imagen pero debajo del h1 */
}

.hero-stamp {
  width: 570px;
  position: absolute;
  right: 128px;
  top: 32px;
  transform: rotate(15deg);
  opacity: 0.8;
  z-index: 1;
}

.category-container{
  min-height: 100vh;
  background-color: var(--color-neutral-black);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la ventana */
  background-color: var(--color-neutral-black); /* El mismo color de fondo que la página */
  font-family: var(--font-heading);
}

.loading-message {
  font-size: 24px;
  color: var(--color-neutral-white); /* Color del texto de carga */
}

/* Mobile -------------------------------------------------------------------*/
@media (max-width: 480px) {
  /* NavBar Mobile ------------------------------------------------------*/

  .container-nav {
    padding: 10px;
    justify-content: space-between;
    height: 64px;
    display: flex;
    align-items: center;
  }

  /* Ocultar las categorías del navbar en móvil */
  .container-categories-nav {
    display: none;
  }

  /* Ocultar el logo en móvil */
  .logo-container {
    display: none;
  }

  .wrapper-nav {
    display: flex;
    justify-content: flex-start;
    margin-left: 16px;
  }

  .container-menu {
    display: flex;
    align-items: center;
  }

  .menu {
    display: block;
    width: 24px;
  }

  /* SearchBar Mobile --------------------------------------*/

  .search-bar-container {
    width: 90%;
    padding: 8px;
  }

  .search-input {
    padding: 10px 40px;
  }

  .search-button {
    right: 10px;
  }

  .search-button img {
    width: 20px;
    height: 20px;
  }

  .box-carousel {
    width: 90%;
  }
}
